@font-face {

  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

/* PT Sans полужирный */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  min-width: 1280px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.page-container {
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  width: 1200px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  text-align: center;
}

.navigation {
  display: flex;
  height: 64px;
  padding: 0 70px;
}

.logo {
  display: inline-block;
  z-index: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.link {
  text-decoration: none;
  color: inherit;
}

.navigation-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 507px;
  margin: 0;
  padding: 0;
  margin-left: 30px;
  align-items: center;
}

.navigation-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 20px 16px;
  text-transform: capitalize;
  text-decoration: none;
  color: #000000;
}

/* .navigation-link::before {
  content: "";
  border: 2px solid #756257;
} */


/*Иконки в меню справа*/

.navigation-user {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: auto;
}


.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.count {
  display: block;
  border-radius: 10px;
  background-color: #7db54f;
  color: #ffffff;
  text-align: center;
  font-family: PT Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  padding: 4px 5px;
  position: absolute;
}

.button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
  border: none;
  background-color: #756157;
  display: inline-block;
}

.button-navigation-link {
  display: grid;
  width: 160px;
  margin-left: 20px;
  align-items: center;
}

.welcome {
  background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
  background-color: #4067b4;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center bottom -1px, left top;
  text-align: center;
  min-height: 485px;
  padding-top: 50px;
  box-sizing: border-box;
}

.vector-welcome {
  width: 458px;
  height: 352px;
}

/*Advantages*/

.advantages-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-image {
  width: 800px;
  height: 385px;
  object-fit: contain;
}


/*Header*/

.advantages-item {
  width: 400px;
  padding: 113px 85px;
  box-sizing: border-box;
  color: #000000;

}

.advantages-item-blue {
  display: flex;
  width: 1200px;
  color: #ffffff;
  background-color: #83B3D3;
}

.advantages {
  margin: 0 auto;
  padding-top: 69px;

}

.advantages h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 25px;
}

.advantages-header {
  font-size: 22px;
  line-height: 26px;
  font-weight: inherit;
  color: #333333;
  text-align: center;
  margin-top: 0;
  margin-bottom: 90px;

}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 62px;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
}

.container-item-blue {
  margin: 0 auto;
  width: 230px;
  color: #ffffff;
  background-color: #83b3d3;
  padding: 102px 85px;
}

.advantages-item:nth-child(even) {
  background: #f0f6fa;
}

.advantages-item:nth-child(odd) {
  background: #e6f0f6;
}

/* Рекомендации */

.services {
  margin: 0;
  margin-top: 64px;

}

.services h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.advantages-services {
  font-size: 22px;
  line-height: 26px;
  font-weight: inherit;
  color: #333333;
  text-align: center;
  margin: 0;
  margin-bottom: 64px;
}

.services-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}


.services-item {
  width: 400px;
  min-height: 385px;
  position: relative;
  background-color: #83b3d31f;
  color: #333333;
  padding: 81px 85px;
  box-sizing: border-box;
}

.services-item-house {
  background-image: url("../images/home.svg");
  background-repeat: no-repeat;
  background-position: center top 81px;
  padding-top: 183px;
}

.services-item-eat {
  background-image: url("../images/food.svg");
  background-repeat: no-repeat;
  background-position: center top 81px;
  padding-top: 183px;
}

.services-item-gifts {
  background-image: url("../images/present.svg");
  background-repeat: no-repeat;
  background-position: center top 81px;
  padding-top: 183px;
}

.services-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 30px;
}

.services-description {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.services-item:nth-child(2n) {
  background-color: #ffffff;
}

/*Search-hotel*/

.search-hotel {
  margin: 0 auto;
  padding: 96px 304px;
}

.interest-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 0;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: inherit;
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
}

.button-search {
  background-color: #756157;
  color: #ffffff;
  width: 376px;
  margin: 0 auto;
  border-radius: 4px;
  font-size: 20px;
  line-height: 36px;
  display: block;
}

/*Форма для подписки*/
.newsletter-index {
  background-image: url("../images/background-newsletter.jpg");
  background-size: cover;
  background-color: #44718f;
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding: 96px 258px 104px 258px;
  box-sizing: border-box;
}

.newsletter-inner {
  background-image: none;
  text-align: center;
  color: #000000;
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding: 96px 258px 106px 258px;
  box-sizing: border-box;
}

.newsletter-title {
  font-family: inherit;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.newsletter-description {
  font-family: inherit;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 55px;
}

.button-newsletter {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  border: none;
}

.newsletter-form {
  display: grid;
  grid-template-columns: 452px auto;
  min-height: 52px;
  box-sizing: border-box;
}



.field {
  display: grid;
  grid-column: 1/2;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding: 12px 20px;
  color: #000000;
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
  border: none;
}

.button-newsletter {
  grid-column: 2/3;
  padding: 8px 16px;
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  border-radius: 0 4px 4px 0;
}

/*Каталог*/
/* Заголовок каталога */


.inner-header-title {
  margin: 0;
  padding-top: 35px;
  padding-bottom: 8px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.inner-header {
  width: 1060px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.catalog-hotels {
  background-image: url("../images/catalog-back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #476b86;
  min-height: 413px;
}

.catalog-filter {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding-left: 70px 0 70px;
}

.filter-result {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.catalog-wrap {
  padding: 50px 70px 60px;
}

.sorting {
  display: flex;
  margin: 0;
  margin-bottom: 40px;
}

.meets {
  font-family: PT Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-top: 7px;
  margin-right: auto;
}

.card-grid-toggle-tile {
  background-image: url("../images/mode-tile.svg");
}

.card-grid-toggle-slideshow {
  background-image: url("../images/mode-slideshow.svg");
}

.card-grid-toggle-list {
  background-image: url("../images/mode-list.svg");
}

 .card-grid-toggle-current {
  border-color: #000000;
}


.card-grid-toggle:hover {
  border-color: #83b3d3;
}


.card-grid-toggle:focus:focus-visible {
  border-color: #83b3d3;
  outline: none;
}
.card-grid-toggle:active {
  border-color: #000000;
}

.card-grid-toggle {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  padding: 14px 12px;

}

.card-grid-toggle-wrap {
  display: flex;
 gap:8px;
 justify-content: end;
 flex-wrap: wrap;
}

/* Хлебные крошки */
.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  display: flex;
}


.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
  margin: 0;
  margin-right: 30px;
}

.breadcrumbs-link-home {
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-filter-title,
.catalog-filter-price {
  font-family: PT Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.catalog-filter-infrastructure {
  border: none;
  padding: 0;
  margin: 0;
  padding-right: 70px;
}


.catalog-filter-type {
  border: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-price {
  border: none;
  padding: 0;
}

.catalog-filter-list {
  margin: 0;
  margin-top: 32px;
}


.button-blue {
  background-color: #83b3d3;

}

.button-choose {
  min-width: 140px;
}


.button-favourites {
  background-color: #7dB54f;
  min-width: 140px;
}

.button-brown-more {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  min-width: 140px;

}

.button-apply {
  width: 191px;
  margin-bottom: 32px;
  padding: 8px 16px;
  background-color: #82b3d3;
}

.button-reset {
  width: 191px;
  padding: 8px 16px;
  background-color: transparent;
  border: 0;
}

.range-input {
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}

.range-input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-filter-label {
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
}

.select-control {
  display: flex;
  font-family: inherit;
  width: 291px;
  height: 49px;
  font-size: 18px;
  line-height: 21px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 17px;
  margin: 0;
  margin-right: 70px;
  background-image: url("../images/dropdown.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-color: #ffffff;
  appearance: none;

}

/*Карточки на флексах */
/*
.hotel-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.hotel-card {
  padding: 20px;
  padding-bottom: 26px;
  border-radius: 4px;
  outline: 1px solid #e6e6e6;
}

.hotel-card-title {
    margin: 16px 0;
    font-family: PT Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    color: inherit;
}

.frame-hotel {
  margin: 16px 0;
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: inherit;
}
 */

/*Карточки на гридах */

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
  margin-bottom: 40px;
}

.hotel-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 17px;
  padding: 20px;
  border-radius: 4px;
  outline: 1px solid #e6e6e6;
  }

.hotel-card-image {
  object-fit: contain;
  margin-bottom: 9px;
}
.hotel-card-link {
grid-column: 1/-1;
}


.hotel-card-title {
  margin:0;

  font-family: PT Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  color: inherit;
}

/*Пагинация */

.pagination-container {
  padding-top: 40px;
}

.pagination {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
  margin: 0;
 }


.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-more {
  background-color: #ffffff;
  color: #000000;
}


.pagination-link {
  display: block;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 14px 20px;
  font-family: PT Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}


.frame-price {
  text-align:right;
}

.rating {
  padding: 9px 22px 8px 23px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #f2f2f2;
  border-radius: 4px;
  margin-left: auto;
}


/*Подвал */

.page-footer {
  display: flex;
  align-items: center;
  padding: 40px 70px 30px;
  justify-content: space-between;
  box-sizing: border-box;
}

.footer-contacts-phone {
  font-family: PT Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social-item {
  width: 37px;
  height: 34px;
  margin-left: 11px;
  padding-top: 14px;
}

.footer-icon {
  fill: #83b3d3;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
